.banner_container {
    width: 100%;
    margin: 0;
    height: 600px;
    position: relative;
    /* top: 57px; */
}

.banner {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -9;
}

.overlay {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -8;
    /* z-index: 9; */
}


.banner_info {
    width: 100%;
    height: 600px;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;    width: 400px;
    text-align: center;
}

.info h1 {
    font-size: 50px;
    margin-bottom: 0;
}
.info p {
    width: 100px;
    border-bottom: #F3AC38 solid thick;
    margin-bottom: 0;
}
.drink {
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.bottles {
    height: 150px;
}


.right {
  display: flex;
    align-items: flex-end;
    position: relative;
    height: 76px;
    left: 70%;
    padding: 20px;
    width: 317px;
    margin: 0px;
}

.button {
    height: 45px;
    width: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid;
    background-color: #000000;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.5s ease 0s;

  }

  .button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: black;
  }

  .button_top {
    height: 45px;
    width: fit-content;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    /* position: absolute; */
    justify-content: center;
    border: white solid;
    background-color: #000000;
    border-radius: 5px;
    font-weight: 400;
    font-size: 13px;
    transition: all 0.5s ease 0s;
    margin-left: 10px;
    z-index: 999;
  }

  .button_top:hover {
    cursor: pointer;
    background-color: #ffffff;
    border: #000000 solid;
    color: black;
  }

  .feature_container {
    /* height:350px; */
    /* border-top: #828282 solid thin; */
    /* top: 57px; */
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
  }

  .feature {
    width: 400px;
    /* height: 320px; */
    margin: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .inner_feature {
      /* width: 300px; */
      height: 170px;
  }

  .feature h3, .feature h4 {
      margin: 10px;
  }

  .other_feature_container {
    height:400px;
    border-top: #828282 solid thin;
    top: 57px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .other_feature_container h2 {
    /* margin-top: 30px; */
    margin-bottom: -10px;
  }

  .business_container {
    height: 600px;
    border-top: #828282 solid thin;
    top: 57px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
  }

  .business_feature {
    width: 450px;
    height: 350px;
    margin: 70px;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
  }

  .list {
      width: 500px;
      margin-left: -20px;
  }

  .business_feature h2 {
    margin-bottom: -5px;
  }
  .business_feature h4 {
    margin-bottom: -5px;
  }

  .business_feature p {
    width: 100px;
    border-bottom: #F3AC38 solid thick;
    margin-bottom: 0;
  }

  .brewhub {
      width:600px;
      height:600px;
      background: #F3AC38;
  }

  .claim_container {
    height:125px;
    border-top: #828282 solid thin;
    top: 57px;
    margin-top: -20px;
    /* margin-left: 20px; */
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000000;
  }

  .claim_container h2 {
      margin-top: -10px;
      color: white;
  }

  .claim_button {
    height: 45px;
    width: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid;
    background-color: #000000;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.5s ease 0s;

  }

  .claim_button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: black;
  }

  .claim_button i {
      margin-left: 5px;
  }
