/* .button {
    height: 45px;
    width: 150px;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: white solid;
    background-color: #000000;
    border-radius: 5px;
    font-weight: 400;
    transition: all 0.5s ease 0s;
  }

  .button:hover {
    cursor: pointer;
    background-color: #ffffff;
    border: #000000 solid;
    color: black;
  } */

  .button i {
      color: green
  }
  .button i:hover {
      cursor: pointer;
      transform: scale(1.2);
  }

  .showBox {
    color: #8a4500;
    padding: 5px;
    position: absolute;
    font-size: 12px;
  }
  .showBox {
    color: #8a4500;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    border-radius: 3px;
    border: 1px solid rgb(59, 59, 59);
    animation: dropdown-animation 0.2s ease-in-out;
    /* z-index:999; */
  }

  @keyframes showBox-animation {
    0% {
      transform: translateY(-20px);
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
