
.card_img img {
    width: 50px;
	height: 50px;
	border-radius: 10px;
	object-fit:contain;
	/* border-radius: 10%; */
	margin-top: 15px;
}

.infoBeer{
	width: 100%;
    display: flex;
    flex-direction: row;
	border-bottom: rgb(197, 197, 197) solid thin;
}


.first_info {
    height: 200px;
	padding: 10px;
    margin-top: -30px;
    margin-bottom: -20px;
	/* background: lightcoral; */
	display: flex;
	flex-direction: row;
}

.first_info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 5px; */
    margin-left: 5px;
}

.middle {
	margin-left: 15px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.middle h2 {
    margin-bottom: -10px;
}
.middle h4 {
    margin-bottom: 5px;
    margin-left: 3px;
	color: rgb(163, 47, 47);
}

.middle h4:hover {
    cursor: pointer;
	text-decoration: underline;
  }

.middle div {
	font-size: 13px;
}

.beer_link {
    color: rgb(163, 47, 47);
    display: flex;
    flex-direction: column;
    width: 100px;
  }
   .beer_link i {
	   width: fit-content;
   }

  .beer_link:hover {
    cursor: pointer;
	text-decoration: underline;
  }

  .second_info {
      display: flex;
      flex-direction: column;
  }
