.page {
	width:1200px;
	/* height: 100vh; */
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */;
	justify-content: center;
	margin-top: 20px;
	border-radius: 5px;

}


/* MAIN PANEL */
.left {
	width:600px;
}

.info {
	/* border-radius: 5px; */
	width: 100%;
	height: auto;
	background: #ffffff;
	filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
	contain: layout;
}

/*first info container */
.first_info {
	height: fit-content;
	padding: 10px;
	display: flex;
	flex-direction: row;
}

.card_img img {
	width: 90px;
	height: 90px;
	object-fit:contain;
	margin-top: 10px;
}
.card_img img:hover {
	cursor: pointer;
}

.middle {
	margin-top: 10px;
	margin-left: 5px;
	display: flex;
	flex-direction: column;
}

.middle p {
	font-size: 13px;
	color: rgb(131, 131, 131);
	margin: 0;
}
.middle h2 {
	margin: 0;
	margin-top: 5px;
}
.middle h4 {
	color: #8a4500;
	margin: 0;
}
.middle h4:hover {
	cursor: pointer;
	color: #c60;

}

.end {
	margin: 0 auto;
	margin-top: 10px;
	margin-right: 0PX;;
	width: 200px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	/* border: 1px solid; */
	height: fit-content;
}

.end div {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	color: rgb(109, 108, 108);
}
.end div p {
	margin: 0;
	font-size: 10px;
}

.end div:nth-child(1) {
	border-bottom: rgb(197, 197, 197) solid thin;
	border-right: rgb(197, 197, 197) solid thin;
}
.end div:nth-child(2) {
	border-bottom: rgb(197, 197, 197) solid thin;
}
.end div:nth-child(3) {
	border-right: rgb(197, 197, 197) solid thin;
}

/*second info container */
.second_info{
	border-bottom: rgb(197, 197, 197) solid thin;
	border-top: rgb(197, 197, 197) solid thin;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.row {
	align-items: center;
	width: 25%;
    display: flex;
    border-right: rgb(197, 197, 197) solid thin;
    justify-content: center;
	color: black;
	margin: 0;
}

.row p {
	font-size: 13px;
}

.row_end{
	align-items: center;
	width: 25%;
    display: flex;
    /* border-right: black solid thin; */
    justify-content: space-evenly;
}


.row-section {
	justify-content: center;
	text-align: center;
	align-items: center;
}

/*third info container */
.third_info {
	width: 100%;
	justify-content: center;
}

.show{
	padding: 10px;
    font-size: 13px;
}

.show div {
	margin-top: 5px;
	float: right;
	color: rgb(163, 47, 47)
}

.show div:hover {
	cursor: pointer;
	text-decoration: underline;
}



.review_container {
	margin-top: 30px;
	width: 100%;
	/* height: auto; */
	display: flex;
	flex-direction: column;
	background: #ffffff;
	filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
	padding: 10px
}

.profile_image {
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.brewery_image {
	width: 50px;
	height: 50px;
	object-fit: cover;
}

/* Right Panel */
.right {
	margin-left: 40px;
	width: 250px;
}

.right_container {
	margin-bottom: 20px;
	background: #ffffff;
	filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
	padding: 5px;
}
.right_container h3 {
	font-weight: bolder;
	border-bottom: grey thin solid;
	margin: 5px;
	padding-left: 5px;
}

.right_container h4 {
	margin-left: 5px;
}

.right_image {
	width: 35px;
	height: 35px;
	object-fit: cover;
}

.text_container {
	display:flex;
	flex-direction: column;
	margin-left: 5px;
}

.text_container h4 {
	color: #8a4500;
	font-size: 13px;
	margin: 0;
}
.text_container p {
	font-size: 10px;
	margin: 0;
}

.text_container h4:hover {
	color: #c60;
}

.beer_link {

	padding: 5px;
	display:flex;
	flex-direction: row;
	}

.beer_link:hover {
	cursor: pointer;
	}

.loyal_reviewers {
	width: 60px;
	height: 60px;
	padding: 5px;
}
