.page {
	width:1200px;
	/* height: 100vh; */
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */;
	justify-content: center;
	margin-top: 10px;
	border-radius: 5px;

}

	.left {
		width:700px;

	}
	.right {
		margin-left: 30px;
		width: 300px;
		background: #f7f0f0;
		filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
	}

.info {
	border-radius: 5px;
	width: 100%;
	height: auto;
	background: #f7f0f0;
	filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
	contain: layout;
}

.first_info {
	height: 200px;
	padding: 10px;
	/* background: lightcoral; */
	display: flex;
	flex-direction: row;
}

.card_img img {
	width: 150px;
	height: 150px;
	border-radius: 10px;
	object-fit:contain;
	/* border-radius: 10%; */
	margin-top: 15px;
}

.middle {
	margin-left: 15px;
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.middle div {
	font-size: 14px;
}

.end {
	margin-top: 15px;
	width: 300px;
	height: 150px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	/* border: 1px solid; */
	margin-left: 20px;
}

.end div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.end div:nth-child(1) {
	border-bottom: rgb(197, 197, 197) solid thin;
	border-right: rgb(197, 197, 197) solid thin;
}
.end div:nth-child(2) {
	border-bottom: rgb(197, 197, 197) solid thin;
}
.end div:nth-child(3) {
	border-right: rgb(197, 197, 197) solid thin;
}


.second_info{
	border-bottom: rgb(197, 197, 197) solid thin;
	border-top: rgb(197, 197, 197) solid thin;
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.row {
	align-items: center;
	width: 25%;
    display: flex;
    border-right: rgb(197, 197, 197) solid thin;
    justify-content: center;
}

.row_end{
	align-items: center;
	width: 25%;
    display: flex;
    /* border-right: black solid thin; */
    justify-content: space-evenly;
}

.row_end i {
	color: gold;
}

.row-section {
	justify-content: center;
	text-align: center;
	align-items: center;
}


.third_info {
	width: 100%;
	justify-content: center;
}

.third_info h3{
	text-align: center;
	margin-bottom: 0;;
}

.show {
	padding: 10px;
}
.show div:hover {
	cursor: pointer;
	text-decoration: underline;
}

.no_show {
	padding: 10px;
}

.show div {
	margin-top: 5px;
	float: right;
	color: rgb(163, 47, 47)
}
.no_show div {
	margin-top: 5px;
	float: right;
	color: rgb(163, 47, 47)
}

.no_show div:hover {
	cursor: pointer;
	text-decoration: underline;
}

.review_container {
	margin-top: 30px;
	width: 100%;
	/* height: auto; */
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}


.review_list {
	/* height: 200px; */
	background-color: aqua;
}
.review_item {
	height: 150 px;
	/* background-color: rgb(65, 160, 104); */
}

.image_preview {
	width: 50px;
	height: 50px;
  }
