.card_img img {
	width: 200px;
	height: 200px;
    /* border-radius: 10px; */
	object-fit:contain;
	border-radius: 0;
}


.profile_container {
	position: absolute;
	display: flex;
	flex-direction: column;


}
