.profileOuterContainer {
	position: relative;
}

.profileIconContainer {
	margin-right: 14vw;
}

.profile_image {
	border-radius: 50%;
	height: 40px;
	width: 40px;;
}

.dropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
	margin-right: 14vw;
	width: 130px;
	background-color: rgb(0, 0, 0);
	border-radius: 3px;
	border: 1px solid rgb(59, 59, 59);
	animation: dropdown-animation 0.2s ease-in-out;
	z-index:40;
}

@keyframes dropdown-animation {
	0% {
		transform: translateY(-20px);
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

.dropdown h3 {
	padding: 5px 10px;
	text-align: center;
	color:rgb(225, 225, 225)
}

.button{
    height: 45px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.5s ease 0s;
  }

  .button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: black;
  }
